<h1>Corridas</h1>
<%= link_to 'Nova Corrida', new_race_path %>

<h2>Carros</h2>
<ul>
  <% @cars.each do |car| %>
    <li><%= car.model %></li>
  <% end %>
</ul>

<h2>Pistas</h2>
<ul>
  <% @tracks.each do |track| %>
    <li><%= track.name %></li>
  <% end %>
</ul>
